language: php

env:
    matrix:
        - COMPOSER_FLAGS=""
        - COMPOSER_FLAGS="--prefer-lowest"

php:
    - 7.0
    - 7.1
    - 7.2
    - 7.3
    - 7.4

before_script:
    - echo "memory_limit=4096M" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
    - travis_retry composer self-update --snapshot
    - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
    - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
    - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
